@import "tailwindcss";

@layer base {
  :root {
    /* Neutrals */
    --white: #ffffff;
    --background: #fffbeb;      /* amber-50 */
    --surface: #ffffff;         /* cards */

    /* Brand */
    --primary: #92400e;         /* amber-800 */
    --secondary: #b45309;       /* amber-700 */
    --focus: #d97706;           /* amber-600 */

    /* UI states */
    --info: #38bdf8;            /* sky-400 */
    --success: #22c55e;         /* green-500 */
    --warning: #f59e0b;         /* amber-500 */
    --danger: #ef4444;          /* red-500 */

    /* Text */
    --text-main: #78350f;       /* amber-900 */
    --text-muted: #92400e;      /* amber-800 */
    --text-soft: #b45309;       /* amber-700 */

    /* Borders */
    --border-light: #fde68a;    /* amber-200 */
    --border-default: #fcd34d;  /* amber-300 */

    --gray: #d1d5db; 
    --dark-gray: #374151;
    
    --foreground: var(--text-main);
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
